@import url(ModernDataPicker.css);
@import url(menu.css);

/*#region Base*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    background-color: #fff !important;
}

*:not(.mt):not([class^="mt-"]):not([class*=" mt-"]) {
    font-family: IRANSans, serif !important;
}

*[en*="true"], *[en*="true"] * {
    direction: ltr;
    font-family: sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

a, a *:not(del) {
    cursor: pointer;
    text-decoration: none !important;
}

a:hover, a:hover *:not(del) {
    text-decoration: none;
    opacity: 0.85;
}

ul {
    padding: 0;
    margin: 0;
}


a[no_hover*="true"]:hover, a[no_hover*="true"]:hover * {
    opacity: 1;
}

a.disable, a[disabled] {
    color: #b8b8b8;
    cursor: default;
    pointer-events: none;
}

a.disable:hover, a[disabled] {
    text-decoration: none;
}


div[class*="PrivateSwipeArea-root"] {
    z-index: 5;
}


div {
    outline: none;
}

.transition500 {
    -webkit-transition: all 500ms ease !important;
    -moz-transition: all 500ms ease !important;
    -ms-transition: all 500ms ease !important;
    -o-transition: all 500ms ease !important;
    transition: all 500ms ease !important;
}

.transition500Hover:hover {
    -webkit-transition: all 500ms ease !important;
    -moz-transition: all 500ms ease !important;
    -ms-transition: all 500ms ease !important;
    -o-transition: all 500ms ease !important;
    transition: all 500ms ease !important;
}

.makeStyles-searchIcon-10 {
    top: 0;
}


html[style*="overflow: hidden"] .paddingRightWhenOverflow {
    padding-right: 17px;
}

::-webkit-scrollbar {
    /*width: 0px; !* Remove scrollbar space *!*/
    /*background: transparent; !* Optional: just make scrollbar invisible *!*/
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /*background: #FF0000;*/
}


div[input-dir=ltr] > div > input, input[input-dir=ltr] {
    direction: ltr;
}

div[input-dir=rtl] > div > input, input[input-dir=rtl] {
    direction: rtl;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html[dir=rtl] .MuiSnackbarContent-root svg {
    margin-right: 0 !important;
    margin-left: 8px !important;
}

html[dir=rtl] .MuiSnackbarContent-root .MuiSnackbarContent-action {
    margin: 0 auto 0 0 !important;
    padding: 0 8px 0 0 !important;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




/*#endregion Base*/

/*#region Mui*/

/*#region MuiSkeleton*/
.MuiSkeleton-text {
    margin-top: 0 !important;
}

.MuiSkeleton-text:before {
    content: '' !important;
}

/*#endregion MuiSkeleton*/

.MuiIconButton-root.Mui-disabled {
    background-color: unset !important;
}

.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    /*background-color: rgba(0, 0, 0, 0.12) !important;*/
}

.MuiInput-underline-1157:hover:not(.Mui-disabled):before {
    border-bottom: unset !important;
}

label[class*='MuiRating-label'] {
    left: 0
}

.rtl [class*="MuiSnackbarContent-action"] {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    padding-right: 8px;
}

[class*="MuiSnackbarContent-message"] {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.rtl [class*="MuiSnackbarContent-message"] svg {
    margin-right: 0 !important;
    margin-left: 8px !important;
}

.rtl .MuiInputLabel-formControl {
    transform-origin: top right !important;
    right: 0;
    left: auto;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-left: 10px !important;
}


/*#endregion Mui*/

/*#region about-us*/

.about-us-list {
    counter-reset: myCounter;
}

.about-us-list-item {
    list-style: none;
}

.about-us-list-item:before {
    counter-increment: myCounter;
    content: counter(myCounter);
    color: black;
    background: #f0f0f0;
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 30px;
    min-width: 30px;
    height: 30px;
}

/*#endregion about-us*/

/*#region descriptionContent*/
.description-content ul{
    padding-right: 15px;
}
/*#region descriptionContent*/

.fullWidthDialog > div > .MuiDialog-paper {
    max-width: 98%;
    margin: 0;
    max-height: 97%;
}


.removeScroll {
    -ms-overflow-style: none;
}

.removeScroll::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    display: none;
}


.positionSticky {
    position: sticky;
    position: -webkit-sticky;
}

.mt-place-holder {
    z-index: -9;
    display: none;
    position: absolute;
    bottom: 0;
}

.hide {
    display: none !important;
}

/*#endregion Helper*/

/*#region leaflet*/

.leaflet-marker-icon[src*='car-marker-icon'] {
    width: 65px;
    height: 41.5px;
    margin-top: -32.5px;
    margin-left: -41.5px;
}

.leaflet-control-attribution>a:first-child{
    display: none;
}

/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

/* Prevents IE11 from highlighting tiles in blue */
.leaflet-tile::selection {
    background: transparent;
}

/* Safari renders non-retina tile on retina better with this, but Chrome is worse */
.leaflet-safari .leaflet-tile {
    image-rendering: -webkit-optimize-contrast;
}

/* hack that prevents hw layers "stretching" when loading new tiles */
.leaflet-safari .leaflet-tile-container {
    width: 1600px;
    height: 1600px;
    -webkit-transform-origin: 0 0;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

/* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
/* .leaflet-container oldImg: map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
    max-width: none !important;
    max-height: none !important;
}

.leaflet-container.leaflet-touch-zoom {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}

.leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
    /* Fallback for FF which doesn't support pinch-zoom */
    touch-action: none;
    touch-action: pinch-zoom;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
}

.leaflet-container {
    -webkit-tap-highlight-color: transparent;
}

.leaflet-container a {
    -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}

.leaflet-tile {
    filter: inherit;
    visibility: hidden;
}

.leaflet-tile-loaded {
    visibility: inherit;
}

.leaflet-zoom-box {
    width: 0;
    height: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 800;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
    -moz-user-select: none;
}

.leaflet-pane {
    z-index: 400;
}

.leaflet-tile-pane {
    z-index: 200;
}

.leaflet-overlay-pane {
    z-index: 400;
}

.leaflet-shadow-pane {
    z-index: 500;
}

.leaflet-marker-pane {
    z-index: 600;
}

.leaflet-tooltip-pane {
    z-index: 650;
}

.leaflet-popup-pane {
    z-index: 700;
}

.leaflet-map-pane canvas {
    z-index: 100;
}

.leaflet-map-pane svg {
    z-index: 200;
}

.leaflet-vml-shape {
    width: 1px;
    height: 1px;
}

.lvml {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute;
}


/* control positioning */

.leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
    pointer-events: auto;
}

.leaflet-top,
.leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.leaflet-top {
    top: 0;
}

.leaflet-right {
    right: 0;
}

.leaflet-bottom {
    bottom: 0;
}

.leaflet-left {
    left: 0;
}

.leaflet-control {
    float: left;
    clear: both;
}

.leaflet-right .leaflet-control {
    float: right;
}

.leaflet-top .leaflet-control {
    margin-top: 10px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
}

.leaflet-right .leaflet-control {
    margin-right: 10px;
}


/* zoom and fade animations */

.leaflet-fade-anim .leaflet-tile {
    will-change: opacity;
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

.leaflet-zoom-animated {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: transform;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}


/* cursors */

.leaflet-interactive {
    cursor: pointer;
}

.leaflet-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
    cursor: crosshair;
}

.leaflet-popup-pane,
.leaflet-control {
    cursor: auto;
}

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

/* marker & overlays interactivity */
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
    pointer-events: none;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
    pointer-events: visiblePainted; /* IE 9-10 doesn't have auto */
    pointer-events: auto;
}

/* visual tweaks */

.leaflet-container {
    background: #ddd;
    outline: 0;
}

.leaflet-container a {
    color: #0078A8;
}

.leaflet-container a.leaflet-active {
    outline: 2px solid orange;
}

.leaflet-zoom-box {
    border: 2px dotted #38f;
    background: rgba(255, 255, 255, 0.5);
}


/* general typography */
.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}


/* general toolbar styles */

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

.leaflet-bar a:hover {
    background-color: #f4f4f4;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
}

.leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: #f4f4f4;
    color: #bbb;
}

.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* zoom control */

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 22px;
}


/* layers control */

.leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
}

.leaflet-control-layers-toggle {
    background-image: url(images/layers.png);
    width: 36px;
    height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png);
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.leaflet-control-layers label {
    display: block;
}

.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
}

/* Default icon URLs */
.leaflet-default-icon-path {
    background-image: url(images/marker-icon.png);
}


/* attribution and scale controls */

.leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
    padding: 0 5px;
    color: #333;
}

.leaflet-control-attribution a {
    text-decoration: none;
}

.leaflet-control-attribution a:hover {
    text-decoration: underline;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
    font-size: 11px;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 5px;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
}

.leaflet-control-scale-line {
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.leaflet-control-scale-line:not(:first-child) {
    border-top: 2px solid #777;
    border-bottom: none;
    margin-top: -2px;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom: 2px solid #777;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}


/* popup */

.leaflet-popup {
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 12px;
}

.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
}

.leaflet-popup-content p {
    margin: 18px 0;
}

.leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none;
}

.leaflet-popup-tip {
    width: 17px;
    height: 17px;
    padding: 1px;

    margin: -10px auto 0;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #999;
}

.leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
    zoom: 1;
}

.leaflet-oldie .leaflet-popup-tip {
    width: 24px;
    margin: 0 auto;

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.leaflet-oldie .leaflet-popup-tip-container {
    margin-top: -1px;
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
    border: 1px solid #999;
}


/* div icon */

.leaflet-div-icon {
    background: #fff;
    border: 1px solid #666;
}


/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
    position: absolute;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
}

.leaflet-tooltip-top:before,
.leaflet-tooltip-bottom:before,
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    position: absolute;
    pointer-events: none;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* Directions */

.leaflet-tooltip-bottom {
    margin-top: 6px;
}

.leaflet-tooltip-top {
    margin-top: -6px;
}

.leaflet-tooltip-bottom:before,
.leaflet-tooltip-top:before {
    left: 50%;
    margin-left: -6px;
}

.leaflet-tooltip-top:before {
    bottom: 0;
    margin-bottom: -12px;
    border-top-color: #fff;
}

.leaflet-tooltip-bottom:before {
    top: 0;
    margin-top: -12px;
    margin-left: -6px;
    border-bottom-color: #fff;
}

.leaflet-tooltip-left {
    margin-left: -6px;
}

.leaflet-tooltip-right {
    margin-left: 6px;
}

.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
    top: 50%;
    margin-top: -6px;
}

.leaflet-tooltip-left:before {
    right: 0;
    margin-right: -12px;
    border-left-color: #fff;
}

.leaflet-tooltip-right:before {
    left: 0;
    margin-left: -12px;
    border-right-color: #fff;
}


/*#endregion leaflet*/

/*#region tiny-slider*/

.tiny-slider-scrollable .tns-inner {
    overflow: auto;
}

.custom-tiny-slider {
    scrollbar-width: 5px;
    scrollbar-color: #ccc transparent;
}

.custom-tiny-slider ::-webkit-scrollbar {
    width: 5px;
}

.custom-tiny-slider ::-webkit-scrollbar-track {
    background: #eee;
}

.custom-tiny-slider ::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 20px;
}

/*#endregion tiny-slider*/


/*#region swiper-slider*/
.base-swiper-slider{
    position: relative;
}
.base-swiper-slider .swiper-scrollbar{
    transform: scale(0.4);
    height:7px !important;
}

.slider-arrows {
    min-width: 2.917vw;
    min-height: 2.917vw;
    /*background: #757575 !important;*/
    /*opacity: 0.6;*/
    z-index: 999;
    position: absolute !important;
    top: 50%;
    transform: translate(0, -50%);
}

.product-slider .slider-arrows {
    top: 32% !important;
}

.slider-arrows:hover {
    opacity: 1;
}

.swiper-button-disabled>div>div{
    opacity: 0.5 !important;
}

.homeSlider .swiper-container{
    /*padding-bottom: 20px !important;*/
}
.homeSlider .swiper-pagination-bullets{
    bottom: -5px !important;
}

/*.base-swiper-slider .slider-arrows.swiper-button-disabled{*/
/*    opacity: 0.17;*/
/*}*/


@media only screen and (max-width: 960px) {
    .base-swiper-slider .slider-arrows {
        display: none;
    }
}


/*#endregion swiper-slider*/


/*#region Calendar*/
.Calendar__weekDay {
    color: #000
}

/*#endregion Calendar*/

/*#region Animation*/


/*#region lds-dual-ring*/


.lds-dual-ring {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #7c7c7c transparent #df8e8e transparent;
    animation: lds-dual-ring 1.4s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion lds-dual-ring*/


/*#region storage-box-shadow-animation*/


/*Single SidePanel storage*/
@-webkit-keyframes storage-box-shadow-animation {
    0% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 0 #f15a5a69;
        box-shadow: 0 0 5px 0 #f15a5a69;
    }
    100% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
}

@keyframes storage-box-shadow-animation {
    0% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 0 #f15a5a69;
        box-shadow: 0 0 5px 0 #f15a5a69;
    }
    100% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
}

/*#endregion storage-box-shadow-animation*/


/*#region like-animation*/


@-webkit-keyframes like-animation {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes like-animation {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.1);
    }
}


/*#endregion like-animation*/


@keyframes marginTopAnim {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 4px;
    }
    100% {
        margin-top: 0;
    }
}


/*#region threeDots*/


/*Single threeDots*/

.threeDots {
    position: relative;
    text-align: center;
}

.threeDots .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    background: #303131;
    animation: threeDotsWave 1.3s linear infinite;
}

.threeDots .dot:nth-child(2) {
    animation-delay: -1.1s;
}

.threeDots .dot:nth-child(3) {
    animation-delay: -0.9s;
}

@keyframes threeDotsWave {
    0%, 60%, 100% {
        transform: initial;
    }

    30% {
        transform: translateY(-15px);
    }
}


/*#endregion threeDots*/


/*#region loadingDots*/


/*Tree Dots*/
.loadingDots {
    color: hsl(0, 0%, 80%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 4px;
    line-height: 1;
    margin-right: 4px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.loadingDots span:nth-child(1) {
    -webkit-animation: animation-threeDots 1s ease-in-out 0ms infinite;
    animation: animation-threeDots 1s ease-in-out 0ms infinite;
    background-color: currentColor;
    border-radius: 1em;
    display: inline-block;
    height: 1em;
    vertical-align: top;
    width: 1em;
}

.loadingDots span:nth-child(2) {
    -webkit-animation: animation-threeDots 1s ease-in-out 160ms infinite;
    animation: animation-threeDots 1s ease-in-out 160ms infinite;
    background-color: currentColor;
    border-radius: 1em;
    display: inline-block;
    margin-left: 1em;
    height: 1em;
    vertical-align: top;
    width: 1em;
}

.loadingDots span:nth-child(3) {
    -webkit-animation: animation-threeDots 1s ease-in-out 320ms infinite;
    animation: animation-threeDots 1s ease-in-out 320ms infinite;
    background-color: currentColor;
    border-radius: 1em;
    display: inline-block;
    margin-left: 1em;
    height: 1em;
    vertical-align: top;
    width: 1em;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-threeDots {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes animation-threeDots {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/*#endregion loadingDots*/

/*#region shake*/
.shake {
    animation: shake-animation 4.72s ease infinite;
    transform-origin: 50% 50%;
}
.fastShake {
    animation: shake-animation 2s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
    0% {
        transform: translate(0, 0)
    }
    1.78571% {
        transform: translate(5px, 0)
    }
    3.57143% {
        transform: translate(0, 0)
    }
    5.35714% {
        transform: translate(5px, 0)
    }
    7.14286% {
        transform: translate(0, 0)
    }
    8.92857% {
        transform: translate(5px, 0)
    }
    10.71429% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}

/*#endregion shake*/

/*#endregion Animation*/

/*#region nprogress*/
#nprogress, #nprogress .bar {
    z-index: 99999999999999 !important;
    height: 5px !important;
}

#nprogress .spinner {
    display: none !important;
}

/*#endregion nprogress*/

/*#region Footer*/
.certificationContainer {
    position: relative;
    width: 100px;
    border: 1px solid rgb(196, 196, 196);
}

.certificationContainer img {
    width: 100%;
}

/*#endregion Footer*/

/*#region header*/
.headerRoot {
    backdrop-filter: saturate(90%) blur(5px);
    -webkit-backdrop-filter: saturate(90%) blur(5px);
}

header {
    background-color: transparent !important;
}


/*#endregion header*/


/*#region lineHeight*/
.lineHeight32, .lineHeight32 * {
    line-height: 32px;
}

/*#endregion lineHeight*/

/*#region Fonts*/

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 800;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 700;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 600;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 400;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Light.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum).eot');
    src: url('/drawable/fonts/iranSans/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/drawable/fonts/iranSans/IRANSansWeb(FaNum).ttf') format('truetype');
}


/*#endregion Fonts*/

.makeStyles-searchIcon-8 {
    top: 0;
}

/*#region description-content*/

.description-content * {
    font-size: inherit !important;
    font-weight: 300 !important;
    line-height: 32px;
}

.description-content strong {
    font-weight: 500 !important;
}
.description-content em{
    font-weight: 700 !important;
    font-style:normal !important;
}


/*#endregion description-content*/

/*#region App*/

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    white-space: nowrap;
}

.circle:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
}

.circle.active:after {
    content: "";

}

.text-max-line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/*#endregion App*/

/*#region borderRadius*/
.border-radius-5{
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.border-radius-8{
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.border-radius-12{
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.border-radius-20{
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.border-radius-fill{
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

/*#endregion borderRadius*/


.avoidClicks {
    pointer-events: none;
}


