.menu {
    position: relative;
}

.menu > li {
    cursor: pointer;
    position: relative;

}

.menu li ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #fff;
    right: 0;
}
.menu>li>ul li{
    min-width:230px
}

.menu > li > ul {
    top: 35px;
}

.menu >ul > li{
    background: #f8f8f8;
    height: 100%;

}
.menu li:hover{
    background: #f8f8f8;
}

.menu > li > ul > li ul {
    top: 0;
    right: 230px;
}

.menu li ul li a {
    width: 100%;
}

.menu li:hover > ul {
    visibility: visible;
}